/**
 * Styles for the feedback form.
 */
#block-feedbackblock:hover {
  height: 550px;
}
#block-feedbackblock {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 60px;
  overflow: hidden;
  max-width: 300px;
  height: 27px;
  padding: 3px;
  -webkit-transition: height 1s; /* Safari */
  transition: height 1s;
}

#block-feedbackblock header {
  text-align: center;
  font-weight: normal;
}
